@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

h1,
h3,
h4,
h5,
h6 {
  color: #3cbcb1;
}

h2 {
  color: #5aa7a0;
}
/* 
.ql-formats {
  background-color: white;
  color: white;
} */

.ql-snow .ql-fill {
  fill: white !important;
}

.ql-snow .ql-stroke {
  fill: none !important;
  stroke: white !important;
  stroke-linecap: round !important;
  stroke-linejoin: round !important;
  stroke-width: 2 !important;
}

.ql-snow .ql-picker {
  color: white !important;
}

.ql-snow .ql-picker-options .ql-picker-item {
  color: black;
}

.ql-editor {
  color: white;
}

* {
  box-sizing: border-box;
}

.top {
  top: 0;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.topLeft {
  flex: 3;
}

/* .topCenter {
  flex: 2;
} */

.topRight {
  flex: 6;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.navbar-link {
  padding: 5px 20px;
  text-decoration: none;
  color: white;
  border-radius: 35px;
  transition: background-color 0.3s ease;
}

.navbar-link:hover {
  color: #0d3835;
  background-color: #3cbcb1;
  border: 2px solid #0d3835;
}

.navbar-link.active {
  color: #0d3835;
  background-color: #3cbcb1;
  border: 2px solid #0d3835;
}
